@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  font-family: "Raleway";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  max-width: 100%;
  box-shadow: 2px 2px 50px rgb(55, 55, 55);
  padding: 10px;
}

.logo-login {
  padding: 5%;
}

p {
  color: white;
}
.user-input {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
}

input {
  padding: 3%;
  margin: 2% 0%;
  border-radius: 3px;
  border: 0;
}

a {
  margin-top: 1%;
  text-align: center;
  font-size: smaller;
  color: #ff9505;
  text-decoration: none;
}
.welcome,
.main-signup {
  text-align: center;
  margin: 0 2% 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign-in-google {
  color: #ff9505;
  background-color: #111317;
  padding: 1.5%;
  border-radius: 10px;
  display: flex;
  max-width: 35%;
  min-width: fit-content;
  margin: 2% 0%;
}

/*FEED ====================================*/
.root {
  height: 100vh;
  width: 100vw;
}
.feed-container {
  height: 100vh;
  width: 100vw;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 10vh;
}
.logo-mediary-nav {
  width: 4vw;
}
.section-feed {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
 
}
footer {
  display: flex;
  height: 10vh;
  width: 100vw;
  color: white;
}

.log-in,
.post-btn,
.button-signup,
.confirm-edit-btn,
.cancel-edit-btn,
 .btn-feed
  {
  border: 0;
  color: white;
  background-color: #ff9505;
  padding: 5%;
  margin: 5%;
  border-radius: 10px;
}
.post-btn {
  padding: 2% 5%;
  margin: 0;
  width: auto;
  height: 45px;
  line-height: 1.5;

}
.cancel-edit-btn {
  background-color: #111317;
}

.confirm-edit-btn.visible,
.cancel-edit-btn.visible {
  visibility: visible;
}

.confirm-edit-btn,
.cancel-edit-btn {
  width: 60%;
  visibility: hidden;
}

.interaction-posted,
.post-area {
  
  display: flex;
  background-color: #242731;
  padding: 3%;
  border-radius: 16px;
  flex-direction: column;
  width: 460px;
  height: 180px;
  margin: 2% 3%;
  
}


.post {
  
  justify-self: start;
  width: 60%;
  height: 20%;
  background-color: #242731;
  border-radius: 16px;
  padding: 1%;
  margin: 1%;
}
/* .post-area {
  margin: 10%;
} */


.img-text-area {
  display: flex;
  width: 100%;
  height: 60%;
}

.user-img-post{
  width: auto; 
}

.icons-post-btn {
  display: flex;
  justify-content: space-between;
  height: 40%;
}
.user-img-post {
  width: 10%;
  border-radius: 100%;
  margin-right: 5%;
}

.text-post {
  background-color: #242731;
  border: none;
  color: white;
  height: 70%;
  width: 100%;
}

.post-icon-image {
  margin-left: 15%;
  align-self: flex-start;
}
.post-date {
  font-size: 10px;
  color: #ff9505;
  padding: 2%;
  margin-left: 17%;
}
.posted-header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 5vh;
}

.info-posted {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.user-name-posted {
  justify-self: start;
  margin-left: 5%;
}
.user-name {
  font-family: "Raleway";
  font-weight: bold;
  margin-left: 50%;
}
.user-photo {
  width: 80%;
  border-radius: 100%;
}
.icons-posted {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
   margin-bottom: 0%;
  height: 20%;
}

.fa-edit, .fa-trash {
  color: white;
}
.fa-edit:hover {
  color: #ff9505;
}
.btnEditActive {
  color: #ff9505;
}

.likes-count {
  padding: 0 0.4rem;
}

.comment-icon,
.fa-trash {
  justify-self: end;
  margin-right: 5%;
}
.fa-trash:hover{
  color:#ff9505;
}
.btnSignUp,
.have-account {
  padding: 0;
  border: none;
  background: none;
  color: #ff9505;
}

.input-text-intro {
  margin-bottom: 0%;
  font-size: smaller;
  text-align: center;
}
.posted-text {
  /* outline:2px solid red; */
  color: white;
  background-color: #242731;
  border: none;
  resize: none;
 height: 40%;
}
.root-post {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  align-items: center;

}


 /* ----------scrollbar------ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #040404;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
/* ----------scrollbar------ */

body {
  background-color: black;
}

.fa-heart {
  color: #ffff;
}

.fa-heart.like {
  color: #ff9505;
}

footer{
  display: table;
  font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.link-logo{
  margin: 1%;
  width: 1%;
}

/* -------------------- carusel-----------------------------------------*/


html, body {
  margin: 0;
  padding: 0;
}

.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 2;
  }
  20% {
    transform: translateY(0);
    opacity: 2;
  }
  30% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: auto;
  height: 100px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.div1{
  background-color: #242731;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 20vw;
  height: 80vh;
  margin: 0% 2%;
  
}

.best{
  margin-top: 20%;
  font-size: 4.5vh;
}

.pic{
width: 13vw;
height: 45vh;
}

.review{
  margin-top: 2%;
}

.user-details{
  outline: 2px solid red;
}
/* -------------------- MEDIA-----------------------------------------*/


@media (max-width: 800px) {
  body {
    background-color: black;
  }

.div1{
  display: none;
}

  .login-container,
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home,
  .signup {
    height: 100%;
    max-width: 100%;
  }

  .feed {
    height: 88vh;
  }

  .feed-container{
    height: 10vh;
  }

  .root-post {
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }

  .interaction-posted,
.post-area {

  display: flex;
  background-color: #242731;
  padding: 3%;
  border-radius: 16px;
  flex-direction: column;
  width: 90%;
  height: 60%;
  margin: 2% 3%;
}

.post-area {
  
  padding: 3%;
  margin: 2% 3%;
}

.posted-text {
  height: 30%;
}
.post-btn{
  border: 0;
  color: white;
  background-color: #ff9505;
  margin: 5%;
  border-radius: 10px;
  width: auto;
  height: 30px;
  line-height: 1.5;
}

.post {
  width: 80%;
  height: 20%;
  padding: 0;
  background-color: #242731;
  border-radius: 16px;
  padding: 1%;
  margin: 1%;
}

.img-text-area {
  display: flex;
  width: 100%;
  height: 60%;
  padding: 3%;
}

  .user-img-post{
    width: auto; 
}

  nav {
    height: 6vh;
  }

  .logo-mediary-nav {
      width: 60%;
  }

  footer {
    width: 100vw;
    height: 10vh;
    margin: 1%;
  }

  .link-logo{
    width: 4%;
  }
  
}


/*profile */
.input-search{
  width: 90%;

}
.div-search{
height: 100%;
}
.container{
  /* outline:2px solid aqua; */
  width:30vw;
}
.container-input-search{
  /* outline:2px solid rosybrown; */
  padding: 5% 10% 15% 15%;
  height: 20vh;
}
.result-container{
  width: 100%;
  height:60vh ;
  overflow-y: scroll;
  padding:5%
  /* outline:2px solid rgb(0, 255, 34); */
}
.movie-container{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* outline:2px solid blue; */
}
.movie-details{
  color:white;
}
h1, h3{
  color:#ff9505;
  text-overflow: inherit;
  font-size: medium;
}
ul{
  list-style: none;
  font-size: xx-small;
}
.poster{
  width: 50%;
}
.movie-container{
  background-color: #242731;
  border-radius: 10px;
  padding:10%;
  
  
}

.btn-log-out{
   color:#ff9505;
   background-color: #040404;
   padding:3%;
   border-radius: 5px;
   border: #242731 1px solid ;

}

textarea{
  height:80%;
  /* outline:  2px solid orange; */
}


/* PROFILE --------------------------------*/
.main-profile{
  /* outline:2px solid red; */
  width:100vw;
  height: 80vh;
  display:flex;
}
.div-search{
  width: 40vw;
  /* outline: 2px solid yellow; */
}

.root-post-profile {
  height: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  align-items: center;
}
.user-details{
  /* outline:2px solid blue; */
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  color:white;
  width: 20vw;
  padding-top:5%;
  height: 60vh;
}
.user-img-post-profile{
  width:80%;
  border-radius: 100%;
}

